ul, li {
  margin: 0;
  padding: ;
}

input {
  padding: 4px;
  margin-bottom: 8px;
}

.error, .notice {
  font-weight: bold;
  padding: 4px;
}

.error {
  color: red;
  border: 1px solid red;
}

.notice {
  color: #6cd667;
  border: 1px solid #6cd667;
}
